<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>

<body class="Home">
    <header class="home__header">

        <nav class="home__header__nav--menu">
            <figure class="home__header--box-logo">
                <a href="/"><img class="home__header--logo" src="/img/logo.png" alt="logo_kitchening"></a>
            </figure>
            <ul>
                <li id="btn__active1"><a href="">Smartphone</a></li>
                <li id="btn__active2"><a href="">Tablets</a></li>
                <li id="btn__active3"><a href="">Computadoras</a></li>
            </ul>
            <ul>
                <li id="btn__active4"><a href="">Login</a></li>
                <li id="btn__active5"><a href="">Registro</a></li>
            </ul>
        </nav>
    </header>

    <main class="home__main">
        <div>
            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="home__main__section__article--image" src="/img/img-phone-01.jpg" alt="producto1">
                </div>
                <h4 class="home__main__section__article--title">Nombre del Producto</h4>
                <p class="home__main__section__article--description">Lorem ipsum, dolor sit amet consectetur
                    adipisicing
                    elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="home__main__section__article--image" src="/img/img-phone-02.jpg" alt="producto1">
                </div>
                <h4 class="home__main__section__article--title">Nombre del Producto</h4>
                <p class="home__main__section__article--description">Lorem ipsum, dolor sit amet consectetur
                    adipisicing
                    elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="home__main__section__article--image" src="/img/img-phone-03.jpg" alt="producto1">
                </div>
                <h4 class="home__main__section__article--title">Nombre del Producto</h4>
                <p class="home__main__section__article--description">Lorem ipsum, dolor sit amet consectetur
                    adipisicing
                    elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="home__main__section__article--image" src="/img/img-phone-01.jpg" alt="producto1">
                </div>
                <h4 class="home__main__section__article--title">Nombre del Producto</h4>
                <p class="home__main__section__article--description">Lorem ipsum, dolor sit amet consectetur
                    adipisicing
                    elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="home__main__section__article--image" src="/img/img-phone-02.jpg" alt="producto1">
                </div>
                <h4 class="home__main__section__article--title">Nombre del Producto</h4>
                <p class="home__main__section__article--description">Lorem ipsum, dolor sit amet consectetur
                    adipisicing
                    elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="home__main__section__article--image" src="/img/img-phone-03.jpg" alt="producto1">
                </div>
                <h4 class="home__main__section__article--title">Nombre del Producto</h4>
                <p class="home__main__section__article--description">Lorem ipsum, dolor sit amet consectetur
                    adipisicing
                    elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>

        </div>

        <div class="home__main__section__aside">
            <aside class="home__main__section__aside">
                <h2>
                    Tutoriales
                </h2>
                <div class="home__main__section__aside--box">
                    <img class="home__main__section__aside--image" src="/img/aside-01.jpg" alt="producto1">
                    <p class="home__main__section__aside--description">Lorem ipsum, dolor sit amet consectetur
                        adipisicing
                        elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                </div>
                <div class="home__main__section__aside--box">
                    <img class="home__main__section__aside--image" src="/img/aside-02.jpg" alt="producto1">
                    <p class="home__main__section__aside--description">Lorem ipsum, dolor sit amet consectetur
                        adipisicing
                        elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                </div>
                <div class="home__main__section__aside--box">
                    <img class="home__main__section__aside--image" src="/img/aside-03.jpg" alt="producto1">
                    <p class="home__main__section__aside--description">Lorem ipsum, dolor sit amet consectetur
                        adipisicing
                        elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                </div>
                <div class="home__main__section__aside--box">
                    <img class="home__main__section__aside--image" src="/img/aside-04.jpg" alt="producto1">
                    <p class="home__main__section__aside--description">Lorem ipsum, dolor sit amet consectetur
                        adipisicing
                        elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                </div>

            </aside>

            <aside class="home__main__section__aside">
                <h2>
                    Publicidades
                </h2>
                <div class="home__main__section__aside--box">
                    <img class="home__main__section__aside--publicidad" src="/img/publicidad1.jpg" alt="producto1">
                    <img class="home__main__section__aside--publicidad" src="/img/publicidad2.jpg" alt="producto2">
                </div>

            </aside>
        </div>

        <footer class="home__footer">

            <nav class="home__footer__nav--menu">
                <figure class="home__footer--box-logo">
                    <a href="/"><img class="home__header--logo" src="/img/logo.png" alt="logo_kitchening"></a>
                </figure>
                <ul>
                    <li id="btn__active1"><a href="">Smartphone</a></li>
                    <li id="btn__active2"><a href="">Tablets</a></li>
                    <li id="btn__active3"><a href="">Computadoras</a></li>
                </ul>
                <ul>
                    <li id="btn__active4"><a href="">Login</a></li>
                    <li id="btn__active5"><a href="">Registro</a></li>
                </ul>
            </nav>
            </foote>

    </main>

</body>

</html>