<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/53932b54f0.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>

<body>
    <header class="home__header">
        <div class="home__header--box">
            <a href="/"><img class="home__header__box--img" src="/img/logo.png" alt="logo_kitchening"></a>
            <nav class="home__header__nav--menu">
                <ul>
                    <li id="btn__active1"><a href="">Smartphone</a></li>
                    <li id="btn__active2"><a href="">Tablets</a></li>
                    <li id="btn__active3"><a href="">Computadoras</a></li>
                </ul>
            </nav>
        </div>
        <nav class="home__header__nav--usuario">
            <ul>
                <li id="btn__active4"><a href="/login">Login</a></li>
                <li id="btn__active5"><a href="/register">Registro</a></li>
            </ul>
        </nav>
        <a href="" class="home__header--bars"><i class="fa fa-bars fa-lg"></i></a>
    </header>
    <span id="element__login"></span>
    <div class="form__login">
        <section class="form-login">
            <h5>Login</h5>
            <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
            <input class="controls" type="password" name="clave" value="" placeholder="Clave">
            <input class="buttons" type="submit" name="enviar" value="Ingresar" onclick="alert('Accediendo')">
            <input class="buttons" type="submit" value="¿Olvidaste tu contraseña?">
        </section>
    </div>


    <footer class="home__footer">
        <div class="home__footer--box">
            <a href="/"><img src="/img/logo.png" alt="logo_kitchening"></a>
        </div>
        <a href="" class="home__footer--bars">Craftsy - playOnCave 2023</a>
    </footer>

    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>