/*HEADER*/
.home__header__nav--menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: orangered;
  margin-bottom: 13px;
}
.home__header__nav--menu ul li {
  padding: 5px;
  font-size: small;
}

/*MAIN*/
.home__main__section__article {
  display: flex;
  flex-wrap: wrap;
}
.home__main__section__article--image {
  width: 100%;
  padding: 10px;
}
.home__main__section__article--title {
  font-size: 700;
  padding: 10px;
}

.home__main__section__article--description {
  padding: 10px;
}

.home__main__section__article--more {
  padding: 10px;
  margin: 10px;
  background-color: orangered;
}

/*ASIDE*/
.home__main__section__aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.home__main__section__aside--titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--celeste);
  background-color: white;
  margin-bottom: 10px;
}
.home__main__section__aside--box {
  padding: 10px;
  border: 1px solid var(--celeste);
  background-color: white;
}

.home__main__section__aside--box2 {
  padding: 0px 10px 10px 10px;
  background-color: white;
}

.home__main__section__aside--box2 img {
  margin-top: 10px;
}
/*FOOTER*/
.home__footer__nav--menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: orangered;
  margin-bottom: 0px;
}
.home__footer__nav--menu ul li {
  padding: 5px;
  font-size: small;
}

@media (min-width: 600px) {
  /*  HEADER */
  .home__header__nav--menu {
    padding: 20px 10px;
  }
  .home__header__nav--menu ul li {
    padding: 5px;
    font-size: larger;
  }
  /*  MAIN */
  .home__main--box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .home__main__section__article {
    width: 45%;
    padding: 10px;
  }
  .home__main__section__article--image {
    width: 100%;
    padding: 10px;
  }
  .home__main__section__article--title {
    font-weight: 700;
    font-size: larger;
  }
  .home__main__section__article--description {
    font-size: larger;
  }
  .home__main__section__article--more {
    font-size: larger;
  }
  /*  ASIDE */
  .home__main__section__aside {
    display: flex;
    flex-wrap: wrap;
  }
  .home__main__section__aside--titulo {
    display: flex;
    justify-content: center;
  }
  .home__main__section__aside--box {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  .home__main__section__aside--image {
    margin-left: 10px;
  }
  .home__main__section__aside--description {
    font-size: larger;
  }
  .home__main__section__aside--box2 {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding: 20px 10px;
    margin-bottom: 10px;
  }
  /*  FOOTER */
  .home__footer__nav--menu {
    margin-bottom: 0;
    padding: 20px 10px;
  }
  .home__footer__nav--menu ul li {
    font-size: large;
  }
}

@media (min-width: 1180px) {
  /*  HEADER */
  .home__header {
  }
  .home__header__nav--menu {
  }
  .home__header__nav--menu ul li {
    text-decoration: none;
  }
  /*  MAIN */
  .home__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home__main--box {
    width: 60vh;
  }
  .home__main__section__article {
    padding: 0;
  }
  .home__main__section__article--image {
    padding: 0;
  }
  .home__main__section__article--title {
    padding: 0;
  }
  .home__main__section__article--description {
    padding: 0;
  }
  .home__main__section__article--more {
    margin: 0 0 5px 0;
  }
  /*  ASIDE */
  .home__main__section__aside {
    width: 40vh;
    display: flex;
  }
  .home__main__section__aside--titulo {
  }
  .home__main__section__aside--box {
  }
  .home__main__section__aside--image {
  }
  .home__main__section__aside--description {
  }
  .home__main__section__aside--box2 {
  }
  /*  FOOTER */
  .home__footer__nav--menu ul li {
    font-size: large;
  }
}
