/*HEADER*/
.home__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 13px;
  background-color: var(--colorNaranja);
  border-radius: 0 0 30px 30px;
}

.home__header__nav--menu,
.home__header__nav--usuario {
  display: none;
}
/*MAIN*/
.home__main__section__article {
  display: flex;
  flex-wrap: wrap;
}
.home__main__section__article--image {
  width: 100%;
  padding: 10px;
}
.home__main__section__article--title,
.home__main__section__article--description {
  padding: 10px;
  font-size: 1.2rem;
}
.home__main__section__article--more {
  padding: 10px;
  margin: 10px;
  background-color: var(--colorNaranja);
  font-size: 1.2rem;
}
/*ASIDE*/
.home__main__section__aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.home__main__section__aside--titulo,
.home__main__section__aside--titulo2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--colorCeleste);
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home__main__section__aside--box {
  padding: 10px;
  border: 1px solid var(--colorCeleste);
  background-color: white;
}
.home__main__section__aside--description {
  padding-top: 10px;
  font-size: 1.2rem;
}
.home__main__section__aside--box2 {
  padding: 0px 10px 10px 10px;
  background-color: white;
}
.home__main__section__aside--box2 img {
  margin-top: 10px;
}
/*FOOTER*/
.home__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorNaranja);
  margin-top: 10px;
  border-radius: 30px 30px 0 0;
}
@media (min-width: 600px) {
  /*  HEADER */
  .home__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13px;
    background-color: var(--colorNaranja);
    border-radius: 0 0 30px 30px;
  }
  .home__header__nav--menu {
    display: none;
  }
  .home__header__nav--usuario {
    display: none;
  }
  /*  MAIN */
  .home__main--box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home__main__section__article {
    width: 45%;
  }
  .home__main__section__article--image {
    width: 100%;
    padding: 10px;
  }
  .home__main__section__article,
  .home__main__section__article--image,
  .home__main__section__article--title,
  .home__main__section__article--description {
    padding: 10px;
    font-size: 1.1rem;
  }
  /*  ASIDE */
  .home__main__section__aside {
    display: flex;
    flex-wrap: wrap;
  }
  .home__main__section__aside--titulo {
    display: flex;
    justify-content: center;
  }
  .home__main__section__aside--box {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  .home__main__section__aside--image {
    margin-left: 10px;
  }
  .home__main__section__aside--description {
    font-size: 1.2rem;
  }
  .home__main__section__aside--box2 {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
  /*  FOOTER */
  .home__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-radius: 30px 30px 0 0;
  }
}
@media (min-width: 1180px) {
  /*  HEADER */
  .home__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 13px;
    margin-top: 10px;
    border-radius: 0 0 30px 30px;
  }
  .home__header--box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
  }
  .home__header__nav--menu {
    display: block;
  }
  .home__header__nav--menu ul {
    display: flex;
    gap: 10px;
  }
  .home__header__nav--usuario {
    display: block;
  }
  .home__header__nav--usuario ul {
    display: flex;
    gap: 10px;
    margin-right: 10px;
  }
  .home__header--bars {
    display: none;
  }
  /*  MAIN */
  .home__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home__main--box {
    width: 70vh;
    background-color: white;
  }

  .home__main__section__article,
  .home__main__section__article--image,
  .home__main__section__article--title,
  .home__main__section__article--description {
    padding: 0;
    font-size: 1.2rem;
  }
  .home__main__section__article--image {
    border: 1px solid black;
    box-shadow: 4px 4px 4px black;
  }
  .home__main__section__article--more {
    margin: 0 0 5px 0;
  }
  /*  ASIDE */
  .home__main__section__aside {
    width: 40vh;
    display: flex;
  }
  .home__main__section__aside--titulo {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .home__main__section__aside--titulo2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .home__main__section__aside--description {
    padding: 0;
    font-size: 1.1rem;
  }
  .home__main__section__aside--box2 {
    gap: 10px;
  }
  /*  FOOTER */
  .home__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-radius: 30px 30px 0 0;
  }
}
